{
   "endpoint": "/api/billings/balance",
   "method": "POST",
  {{ include "input_headers.tmpl"}},
   "backend": [
   {
     "url_pattern": "/api/billings/balance",
     "extra_config": {
       {{ include "rate_limit_backend.tmpl"}}
     },
     "host": ["{{ .service.default_host }}"]
   }
   ]
},
{
   "endpoint": "/api/billings/check",
   "method": "POST",
  {{ include "input_headers.tmpl"}},
   "backend": [
   {
     "url_pattern": "/api/billings/check",
     "extra_config": {
       {{ include "rate_limit_backend.tmpl"}}
     },
     "host": ["{{ .service.default_host }}"]
   }
   ]
},
{
   "endpoint": "/api/billings/checkout",
   "method": "POST",
   "input_query_strings": [
        "user_email"
      ],
  {{ include "input_headers.tmpl"}},
   "backend": [
   {
     "url_pattern": "/api/billings/checkout",
     "extra_config": {
       {{ include "rate_limit_backend.tmpl"}}
     },
     "host": ["{{ .service.default_host }}"]
   }
   ]
},
{
   "endpoint": "/api/billings",
   "method": "GET",
  {{ include "input_headers.tmpl"}},
   "backend": [
   {
     "url_pattern": "/api/billings",
     "is_collection": true,
     "extra_config": {
       {{ include "rate_limit_backend.tmpl"}}
     },
     "host": ["{{ .service.default_host }}"]
   }
   ]
}