{{ template "endpoints.models.tmpl" . }},
{{ template "endpoints.datasets.tmpl" . }},
{{ template "endpoints.jobs.tmpl" . }},
{{ template "endpoints.iam.tmpl" . }},
{{ template "endpoints.results.tmpl" . }},
{{ template "endpoints.billings.tmpl" . }},
{
   "endpoint": "/api/openapi.json",
   "method": "GET",
  {{ include "input_headers.tmpl"}},
   "backend": [
   {
     "url_pattern": "/api/openapi.json",
     "extra_config": {
       {{ include "rate_limit_backend.tmpl"}}
     },
     "host": ["{{ .service.default_host }}"]
   }
   ]
},
{
   "endpoint": "/api/projects",
   "method": "GET",
  {{ include "input_headers.tmpl"}},
   "backend": [
   {
     "url_pattern": "/api/projects",
     "is_collection": true,
     "extra_config": {
       {{ include "rate_limit_backend.tmpl"}}
     },
     "host": ["{{ .service.default_host }}"]
   }
   ]
},
{
   "endpoint": "/api/runners",
   "method": "GET",
  {{ include "input_headers.tmpl"}},
   "output_encoding": "json",
      "backend": [
        {
          "encoding": "string",
          "sd": "static",
          "method": "GET",
          "host": [
            "https://sysmonitor.appatechlab.com:8080/"
          ],
          "disable_host_sanitize": false,
          "group": "1"
        }
      ]
}