{
   "endpoint": "/api/iam/ssh_key",
   "method": "POST",
  {{ include "input_headers.tmpl"}},
   "backend": [
   {
     "url_pattern": "/api/iam/ssh_key",
     "extra_config": {
       {{ include "rate_limit_backend.tmpl"}}
     },
     "host": ["{{ .service.default_host }}"]
   }
   ]
},
{
   "endpoint": "/api/iam/ssh_key",
   "method": "GET",
  {{ include "input_headers.tmpl"}},
   "backend": [
   {
     "url_pattern": "/api/iam/ssh_key",
     "extra_config": {
       {{ include "rate_limit_backend.tmpl"}}
     },
     "host": ["{{ .service.default_host }}"]
   }
   ]
}